{{ define "main" }}
<article class="content-full max-width-none">
    {{ partial "blog/blog-hero" . }}
    <div class="post block flex flex-wrap gap-md">
        <div class="post__body flow">
            <div class="flow">
                {{ .Content  }}
            </div>
            {{ range .Params.experts }}
            {{ $expert := . }}
                <div class="expert-cta-card bg-black bg-squares grid">
                    {{ $team := where $.Site.RegularPages "Section" "our-company" }}
                    {{ range where $team ".Params.title"  $expert }}
                    <div class="expert-cta-card__image-wrapper grid-12 grid-4-md">
                        <img class="expert-cta-card__image" src="https://res.cloudinary.com/hurckman-mechanical/image/upload/f_auto,q_90,w_400,h_450,c_fill{{ .Params.seo.featured_image }}" alt="">
                    </div>
                    <div class="expert-cta-card__body grid-12 grid-8-md flow">
                        <h2 class="h3 no-margin">Contact {{ .Title }}</h2>
                        <p class="expert-cta-card__job-title font-size-xs">{{ .Params.job_title }}</p>
                        {{ if .Params.seo.meta_description }}
                            <p>{{ .Params.seo.meta_description }}</p>
                        {{ end }}
                        {{ if .Params.email }}
                            <a href="mailto:{{ .Params.email }}" class="btn btn--primary">Contact {{ .Title }}</a>
                        {{ end }}
                        {{ if .Params.phone }}
                            <p>or call at <a href="tel:{{ .Params.phone }}" target="_blank" rel="noopener noreferrer">{{ .Params.phone }}</a></p>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        <div class="post__sidebar">
            <div class="post__sidebar-inner">
                {{ partial "blog/share-buttons" . }}
                <hr>
                {{ partial "blog/related-posts" . }}
            </div>
        </div>
    </div>
</article>
{{ partial "post-navigation" . }}
{{ end }}