{{ define "main" }}
{{ partial "bookshop_bindings" `.Params.content_blocks` }}
{{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }}
<section aria-label="Portfolio List" class="portfolio-list content-full block">
  {{ partial "our-projects/industry-filter" . }}
  <ul class="auto-grid gap-sm max-width-none no-padding">
    {{ $portfolio := .Paginate (where .Site.RegularPages "Section" "our-projects") }}
    {{ range $portfolio.Pages }}
        {{ .Render "project-card" }}
    {{ end }}
  </ul>
  {{ partial "blog/custom-pagination.html" . }}
</section>
{{ end }}
