{{ define "main" }}
<section class="hero content-full block bg-black" aria-labelledby="{{ .Title | urlize }}">
  <div class="hero__content">
    <h1 class="no-margin max-width-none" id="{{ .Title | urlize }}">{{ .Title }} Archive</h1>
  </div>
</section>
<section aria-label="Portfolio List" class="portfolio-list content-full block">
  {{ partial "our-projects/industry-filter" . }}
  <ul class="auto-grid gap-sm max-width-none no-padding">
    {{ range .Paginator.Pages.ByDate.Reverse }}
      {{ .Render "project-card" }}
    {{ end }}
  </ul>
  {{ partial "blog/custom-pagination.html" . }}
</section>
{{ end }}
