<section class="hero content-full" aria-labelledby="{{ .heading | urlize }}">
  <div class="hero__inner content-full bg-primary">
    <div class="hero__content content-lg grid gap-lg">
      <div class="grid-12 grid-5-md margin-block-auto font-color-white flow">
        <img class="hexagon-divider" src="/uploads/white-hexagon-divider.svg" alt="" width="200" height="12">
        <h1 class="no-margin" id="{{ .heading | urlize }}">{{ .heading | markdownify }}</h1>
        {{ if .body }}
          <div class="hero__body">
            {{ if in .body "\n" }}
                {{ .body | markdownify }}
            {{ else }}
                <p>{{ .body | markdownify }}</p>
            {{ end }}
          </div>
        {{ end }}
        {{ if .button.enabled }}
          {{ with .button }}
            <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
          {{ end }}
        {{ end }}
      </div>
      <div class="hero__image-wrapper grid-12 grid-7-md">
        {{ if .image_1.image_url }}
        <div class="hero__image hero__image-1">
          <picture>
            <source srcset="https://keynecta.imgix.net{{ .image_1.image_url }}?fm=avif&q=85&width=500&height=500&fit=crop" type="image/avif">
        
            <source srcset="https://keynecta.imgix.net{{ .image_1.image_url }}?fm=webp&q=85&width=500&height=500&fit=crop" type="image/webp">
        
            <source srcset="https://keynecta.imgix.net{{ .image_1.image_url }}?fm=jpg&q=85&width=500&height=500&fit=crop" type="image/jpg">
        
            <img src="{{ .image_1.image_url }}" alt="{{ .image_1.image_alt }}" width="500" height="500">   
          </picture>
        </div>
        {{ end }}
        {{ if .image_2.image_url }}
        <div class="hero__image hero__image-2">
          <picture class="margin-block-auto">
            <source srcset="https://keynecta.imgix.net{{ .image_2.image_url }}?fm=avif&q=85&width=400&height=400&fit=crop" type="image/avif">
        
            <source srcset="https://keynecta.imgix.net{{ .image_2.image_url }}?fm=webp&q=85&width=400&height=400&fit=crop" type="image/webp">
        
            <source srcset="https://keynecta.imgix.net{{ .image_2.image_url }}?fm=jpg&q=85&width=400&height=400&fit=crop" type="image/jpg">
        
            <img src="{{ .image_2.image_url }}" alt="{{ .image_2.image_alt }}" width="400" height="400">   
          </picture>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>