{{ range .bios }}
    <section class="media-text-block content-full block bg-{{ .background_color }}" aria-labelledby="{{ .heading | urlize }}">
        <div class="content-lg grid gap-lg">
        <div class="grid-12 grid-7-md margin-block-auto block flow">
            <img class="hexagon-divider" src="/uploads/green-hexagon-divider.svg" alt="" width="200" height="12">
            <div>
                <h2 class="no-margin" id="{{ .heading | urlize }}">{{ .heading | markdownify }}</h2>
                <p class="text-style-slub job-title font-size-xs">{{ .job_title }}</p>
            </div>
            {{ if .body }}
                {{ if in .body "\n" }}
                    {{ .body | markdownify }}
                {{ else }}
                    <p>{{ .body | markdownify }}</p>
                {{ end }}
            {{ end }}
        </div>
        <div class="grid-12 grid-5-md">
            {{ if .image.image_url }}
            <div class="headshot media-text-block__image">
                <picture>
                    <source sizes="100vw" srcset="https://res.cloudinary.com/keynecta/image/upload/f_avif,q_85,w_600,h_800,c_fill{{ .image.image_url }} 600w" type="image/avif">
        
                    <source sizes="100vw" srcset="https://res.cloudinary.com/keynecta/image/upload/f_webp,q_85,w_600,h_800,c_fill{{ .image.image_url }} 600w" type="image/webp">
                
                    <img sizes="100vw" src="https://res.cloudinary.com/keynecta/image/upload{{ .image.image_url }}" srcset="https://res.cloudinary.com/keynecta/image/upload/f_jpg,q_85,w_600,h_800,c_fill{{ .image.image_url }} 600w" alt="{{ .image.image_alt }}" width="500" height="500">   
                </picture>
            </div>
            {{ end }}
        </div>
        </div>
    </section>
  {{ end }}