{{ define "main" }}
<section class="hero content-full bg-black" aria-labelledby="hero-heading">
    <div class="hero__content margin-block-auto col flow">
      <div>
        <div class="hero__breadcrumbs">
          <ol class="hero__breadcrumbs-list text-style-slub flex flex-center">
            {{ if page.Parent }}
              <li class="hero__breadcrumbs-list-item"><a class="hero__breadcrumbs-link" href="{{ page.Parent.Permalink }}">{{ page.Parent.Title }}</a></li>
            {{ end }}
            <li class="hero__breadcrumbs-list-item">{{ page.Title }}</li>
          </ol>
        </div>
        <h1 class="no-margin" id="hero-heading">{{ .Title }}</h1>
      </div>
        {{ if .Params.seo.meta_description }}
            <p>{{ .Params.seo.meta_description | markdownify }}</p>
        {{ end }}
        <a class="btn btn--primary" href="{{ .Permalink }}#apply">Apply For This Position</a>
    </div>
    {{ if .Params.seo.featured_image }}
        <div class="hero__image col">
            <picture>
                <source srcset="https://res.cloudinary.com/hurckman-mechanical/image/upload/f_avif,q_85,w_700{{ .Params.seo.featured_image }}" type="image/avif">
      
                <source srcset="https://res.cloudinary.com/hurckman-mechanical/image/upload/f_webp,q_85,w_700{{ .Params.seo.featured_image }}" type="image/webp">
      
                <source srcset="https://res.cloudinary.com/hurckman-mechanical/image/upload/f_jpg,q_85,w_700{{ .Params.seo.featured_image }}" type="image/jpg">
            
                <img class="blog-hero__image" src="https://res.cloudinary.com/hurckman-mechanical/image/upload{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="500" height="300" loading="lazy">   
            </picture>
        </div>
    {{ end }}
</section>
<!-- <div class="intro block flow">
    <h2>{{ .Title }} Requirements & Responsibilities</h2>
    {{ .Content  }}
</div> -->
<div class="intro content-full max-width-none">
  <div class="post block flex flex-wrap gap-md">
    <div class="post__body flow">
        <div class="flow">
            <h2>{{ .Title }} Requirements & Responsibilities</h2>
            {{ .Content  }}
        </div>
    </div>
    <div class="post__sidebar">
        <div class="post__sidebar-inner">
            {{ partial "blog/share-buttons" . }}
            <hr>
            {{ partial "forms/application-form" . }}
        </div>
    </div>
  </div>
</div>
{{ partial "bookshop_bindings" `.Params.content_blocks` }}
{{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }}
{{ partial "post-navigation" . }}
{{ end }}