.expert-cta-card__image-wrapper {
    position: relative;
    height: 100%;
    min-height: 300px;
    width: 100%;
}

.expert-cta-card__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.expert-cta-card__body {
    padding: $ic-300;
}

.expert-cta-card__job-title.expert-cta-card__job-title {
    margin-top: 0;
}