.media-text-block__media-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.media-text-block__overlay-button {
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    height: 105%;
    width: 100%;
    background-color: rgba($black, .6);
    background-image: linear-gradient(315deg, rgba($primary-color, 0.93) 10%, rgba($black, 0.08) 100%);
    transition: $transition;
    border: none;
}

.media-text-block__play-icon {
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background-color: $primary-color;
    border-radius: 50%;
}

.media-text-block__play-icon svg {
    height: 40px;
    width: 40px;
    position: relative;
    left: 3px;
}

.media-text-block__video,
.media-text-block__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    block-size: 100%;
    min-block-size: 350px;
    min-block-size: clamp(300px, 46vw, 400px);
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/1;
}

.media-text-block__video {
    overflow: hidden;
    z-index: 2;
}

.media-text-block__video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    width: 150%;
}

.media-text-block__image {
    z-index: 1;
}

.media-text-block__image img {
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 90% 0%, 100% 15%, 100% 100%, 0 100%);
}

@include breakpoint(md) {

    .media-text-block--text-right .col:nth-of-type(1) {
        order: 2;
    }
    
    .media-text-block--text-right .col:nth-of-type(2) {
        order: 1;
    }

}