.related-posts {
    margin-top: $ic-300;
}

.related-posts .blog-card__image-wrap {
    height: 100%;
}

.related-posts__list .blog-card {
    margin-top: $ic-200;
}

.related-posts__list .blog-card__title {
    font-size: $ic-100;
}