.services-card {
  position: relative;
  display: flex !important;
  // align-items: flex-end;
  list-style-type: none;
  margin-top: 0;
  // height: 400px !important;
  // padding: $ic-100 $ic-400;
  border-top: 5px solid $primary-color;
  position: relative;
  z-index: 1;
  transition: $transition;
  text-wrap: pretty;

  // @include breakpoint(md) {
  //   height: 500px !important;
  // }

  &:hover, 
  &:focus {

    .services-card__link {
      color: $primary-color;
    }

    .services-card__body {
      transform: translateY(-16px);
    }
  }
}

.services-card__link {
  color: $white;
  width: 100%;
}

.services-card__image-wrap {
  position: relative;
  // height: 300px;
  aspect-ratio: 3/2;
}

.services-card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(35, 31, 32, 0.03) 0%, $black 100%);
}

.services-card__body {
  position: relative;
  z-index: 3;
    // padding: $ic-100 $ic-400;
  transition: $transition;
  flex: 1;
}

.services-card__icon {
  display: grid;
  inline-size: $ic-700;
  block-size: $ic-700;
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
  left: 8px;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $primary-color;
      transform: $skew;
      z-index: 1;
  }

  svg {
      z-index: 2;
      inline-size: 100%;
      block-size: 100%;
  }
}