<li class="blog-card flex flex-row p-relative grid">
    <div class="blog-card__image-wrap p-relative cover-image grid-4">
        {{ if .Params.seo.featured_image }}
            <picture>
                <source sizes="100vw" srcset="https://res.cloudinary.com/keynecta/image/upload/f_avif,q_85,w_200{{ .Params.seo.featured_image }} 600w" type="image/avif">
    
                <source sizes="100vw" srcset="https://res.cloudinary.com/keynecta/image/upload/f_webp,q_85,w_200{{ .Params.seo.featured_image }} 600w" type="image/webp">
            
                <img sizes="100vw" src="https://res.cloudinary.com/keynecta/image/upload{{ .Params.seo.featured_image }}" srcset="https://res.cloudinary.com/keynecta/image/upload/f_jpg,q_85,w_200{{ .Params.seo.featured_image }} 600w" alt="{{ .Params.seo.featured_image_alt }}" width="500" height="500">   
            </picture>
        {{  end }}
    </div>
    <div class="blog-card__content bg-white flow grid-8">
        <h2 class="blog-card__title"><a class="blog-card__link no-decoration" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    </div>
</li>