<section class="has-hexagons content-full block bg-{{ .background_color }}" aria-labelledby="{{ .heading | urlize }}">
  <img class="hexagons" src="/uploads/hexagon-group.svg" alt="">
  <div class="content-lg flow">
    {{ if .preheading }}
        <span class="text-style-slub">{{ .preheading }}</span>
    {{ end }}
    <h2 class="no-margin" id="{{ .heading | urlize }}">{{ .heading | markdownify }}</h2>
    {{ if .body }}
        {{ if in .body "\n" }}
            {{ .body | markdownify }}
        {{ else }}
            <p>{{ .body | markdownify }}</p>
        {{ end }}
    {{ end }}
  </div>
  <div class="content-lg mt-4 flow">
    <div class="grid-columns-3 gap-md">
        {{ range .solutions }}
          <div class="flow">
            <img class="solutions-icon" src="{{ .image }}" alt="">
            <h3>{{ .heading }}</h3>
            <p>{{ .body }}</p>
          </div>
        {{ end }}
    </div>
    {{ if .button.enabled }}
      {{ with .button }}
          <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
      {{ end }}
    {{ end }}
  </div>
  <img class="hexagons hexagons--reversed" src="/uploads/hexagon-group.svg" alt="">
</section>