<section class="history-block content-full {{ if eq .text_column_position "left" }}media-text-block--text-left{{ else }}media-text-block--text-right{{ end }} block bg-{{ .background_color }}{{ if .css_classes }} {{ .css_classes }}{{ end }}" aria-labelledby="{{ .heading | urlize }}" id="{{ .preheading }}">
    <div class="columns gap-xxl">
        <div class="history-block__content block-md margin-block-auto col flow">
            {{ if .preheading }}
                <span class="history-block__year fw-700 font-color-primary">{{ .preheading }}</span>
            {{ end }}
            {{ if .heading }}
                <h2 class="history-block__heading no-margin" id="{{ .heading | urlize }}">{{ .heading | markdownify }}</h2>
            {{ end }}
            {{ if .body }}
                {{ partial "format-body" . }}
            {{ end }}
            {{ if .button.enabled }}
              {{ with .button }}
                  <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
              {{ end }}
            {{ end }}
        </div>
        <div class="history-block__media col">
            {{ if .youtube_video_id }}
            <button class="media-text-block__overlay-button"><div class="media-text-block__play-icon icon-fill-white">{{ partial "svg-icons/play-alt.svg" . }}</div></button>
            <div class="media-text-block__video">
                <iframe title="" width="640" height="360" src="https://www.youtube.com/embed/{{ .youtube_video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
            </div>
            {{ end }}
            <img class="media-text-block__image" src="{{ .image.image_url }}" alt="{{ .image.image_alt }}" width="600" height="400">
        </div>
    </div>
</section>