@include breakpoint (md) {
  .parent-page-our-news,
  .parent-page-our-news .site-wrap {
    overflow-x: initial;
  }
}

.post__body {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 60%;
}

.post__sidebar {
  flex-basis: 28rem; 
  flex-grow: 1;
}

.post__sidebar-inner {

  @include breakpoint(md) {
    position: sticky;
    inset-block-start: 125px;
    margin-top:0;
  }
}

.post {
  picture {
    display: block;
  }
}

.post__body h1,
.post__body h2,
.post__body h3,
.post__body h4,
.post__body h5,
.post__body h6 {
  max-inline-size: none;
  text-wrap: wrap;
}

.post__body p + h2,
.post__body p + h3,
.post__body ul + h2,
.post__body ul + h3,
.post__body ol + h2,
.post__body ol + h3 {
  margin-top:$ic-600;
}

.parent-page-categories .hero__content {
  grid-column: 2/-1;
  max-width: none;
}

.category-select {
  padding: $ic--200;
  border: 1px solid $black;
  border-radius: 0;
  background-color: $white;
  color: $black;
  height: $ic-600;

  &:focus {
    outline: 1px solid $primary-color;
  }
}