{{ with .Site.Data.global_blocks.home_cta }}
<section class="cta block content-lg bg-black bg-squares text-align-center flow">
    {{ if .preheading }}
        <span class="text-style-slub">{{ .preheading }}</span>
    {{ end }}
    {{ if .heading }}
        <h2 class="margin-inline-auto">{{ .heading }}</h2>
    {{ end }}
    {{ if .body }}
        <p class="margin-inline-auto" style="max-width: 600px;">{{ .body }}</p>
    {{ end }}
    <div class="flex flex-column flex-row-md flex-center flex-justify-center gap-lg">
        {{ if .button_1.enabled }}
            {{ with .button_1 }}
                <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
            {{ end }}
        {{ end }}
        {{ if .button_2.enabled }}
            {{ with .button_2 }}
                <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
            {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}