<header class="hero blog-hero content-full">
  <div class="hero__inner content-full bg-primary">
    <div class="grid-columns-2 gap-md">
      <div class="margin-block-auto font-color-white flow">
        <a href="/our-news/" class="bounce-left flex flex-center"><div class="icon-md icon-stroke-primary icon-fill-primary">{{ partialCached "svg-icons/chevron-left.svg" . }}</div> Back to all posts</a>
        <h1 id="hero-heading">{{ .Title }}</h1>
        {{ if .Params.seo.meta_description }}
          <p>
            {{  .Params.seo.meta_description }}
          </p>
        {{ end }}
        <div class="flex flex-column flex-row-md flex-justify-between-md gap-sm">
          <div class="flex flex-wrap gap-sm">
          {{ if .Params.Categories }}
            {{ range first 2 (.GetTerms "categories") }}
                <a href="{{ .Permalink }}" class="btn btn--category" aria-label="View all {{ .Page.Title }} posts">{{ .LinkTitle }}</a>
            {{ end }}
          {{ end }}
          </div>
          <div class="reading-time flex flex-center">
            <div class="icon-md icon-stroke-white">{{ partialCached "svg-icons/clock.svg" . }}</div>
            <div class="font-size-xs"> {{ .ReadingTime }} min read</div>
          </div>
        </div>
      </div>
      {{ if .Params.seo.featured_image }}
      <div>
        <picture>
          <source srcset="https://keynecta.imgix.net{{ .Params.seo.featured_image }}?fm=avif&q=85&width=800&height=500&fit=crop" type="image/avif">
      
          <source srcset="https://keynecta.imgix.net{{ .Params.seo.featured_image }}?fm=webp&q=85&width=800&height=500&fit=crop" type="image/webp">
      
          <source srcset="https://keynecta.imgix.net{{ .Params.seo.featured_image }}?fm=jpg&q=85&width=800&height=500&fit=crop" type="image/jpg">
      
          <img class="blog-hero__image" src="{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="800" height="500">   
        </picture>
      </div>
      {{  end }}
    </div>
  </div>
</header>
{{ if .TableOfContents }}
<details class="toc content-full">
  <summary class="toc__summary margin-inline-auto">In This Article</summary>
  <div class="toc__list">
    {{ .TableOfContents }}
  </div>
</details>
{{ end }}