{{ if site.Params.env_bookshop_live }}
<div class="services content-full block bg-blac grid gap-sm">
    {{ partialCached "svg-icons/skewed-shape-cutout.svg" . }}
    <div class="services__body grid-12 grid-4-md flow font-color-white margin-block-auto">
        <span class="text-style-slub">What We Do</span>
        <h2 class="no-margin">Our Services</h2>
        <p>This is just a placeholder to show you what your services feed will look like. Services cannot be edited here and need to be edited in the Services section of your website.</p>
        <a class="btn btn--primary" href="#" >View Our Services</a>
    </div>
    <div class="services__wrapper grid-12 grid-8-md">
        <div class="swiper services__swiper">
            <div class="swiper-wrapper">
            {{ range where .Site.RegularPages "Type" "our-services" }}
                <a class="swiper-slide" href="{{ .RelPermalink }}">
                    <img src="{{ .Params.seo.featured_image }}" alt="">
                    <div class="services__card-overlay"></div>
                    <div class="services__card-body">
                        <div class="services__card-icon icon-fill-white">
                            {{ with .Name }}
                            {{ $icon_name := printf "svg-icons/%s.svg" (replace (replace (lower .) "/" "-") " " "-") }}
                            {{ partial $icon_name . }}
                            {{ end }}               
                        </div>
                        <h3 class="services__card-title h6">{{ .Title }}</h3>
                    </div>
                </a>
            {{ end }}
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
        <div class="swiper-button-next"><div class="icon-xl icon-stroke-white icon-fill-white">{{ partialCached "svg-icons/chevron-right.svg" . }}</div></div>
        <div class="swiper-button-prev"><div class="icon-xl icon-stroke-white icon-fill-white">{{ partialCached "svg-icons/chevron-left.svg" . }}</div></div>
    </div>
</div>
{{ else }}
<div class="content-full block bg-black">
    <h2 class="text-align-center max-width-none">{{ .heading }}</h2>
    <ul class="services grid-columns-3 max-width-none gap-sm no-margin no-padding">
        {{ range where site.RegularPages "Section" "our-services" }}
            <li class="services-card">
                <a class="services-card__link" href="{{ .RelPermalink }}">
                    <div class="services-card__image-wrap">
                        <img class="services-card__image" src="https://res.cloudinary.com/hurckman-mechanical/image/upload/f_auto,q_90,w_500,h_350,c_fill{{ .Params.seo.featured_image }}" alt="">
                        <div class="services-card__overlay"></div>
                    </div>
                    <div class="services-card__body flow">
                        <div>
                            <div class="services-card__icon icon-fill-white">
                                {{ with .Name }}
                                    {{ $icon_name := printf "svg-icons/%s.svg" (replace (replace (lower .) "/" "-") " " "-") }}
                                    {{ partial $icon_name . }}
                                {{ end }}               
                            </div>
                            <h3 class="services-card__title h6">{{ .Title }}</h3>
                        </div>
                        <p class="font-size-xs">{{ .Params.card_description | markdownify }}</p>
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}