<div class="content-full block bg-gray">
    <h2 class="text-align-center max-width-none">{{ .heading }}</h2>
    <ul class="awards grid-columns-3 max-width-none gap-sm no-margin no-padding">
        {{ range .awards }}
            <li class="award bg-white text-align-center flow">
                <span class="award__year">{{ .year }}</span>
                <h3 class="award__title h6 no-margin">{{ .award }}</h3>
                {{ if .project }}
                    <p class="award__project">{{ .project | markdownify }}</p>
                {{ end }}
                {{ if .staff }}
                    <p class="font-size-xs">{{ .staff | markdownify }}</p>
                {{ end }}
            </li>
        {{ end }}
    </ul>
</div>